@font-face {
  font-family:'f-btn-1';
  src:url("../fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family:'m-e-bold-reg';
  src:url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family:'m-e-bold';
  src:url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family:'m-e-medium';
  src:url("../fonts/Montserrat-Medium.ttf");
}
